@{
    ViewData["Title"] = "Privacy Policy";
}
@*<h1>@ViewData["Title"]</h1>*@

    <div class="embed-responsive embed-responsive-21by9 d-flex justify-content-center mb-3 w-100 h-100">
        <iframe id="test_frame" class="embed-responsive-item" src="https://www.youtube.com/embed/FfEJhEVcK4Q?&autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay></iframe>
    </div>

    <div class="row d-flex justify-content-between">

        <div class="col">
            <button type="button" class="btn btn-danger mr-5">SEND ALERT!</button>
        </div>
        <div class="col mt-2">
            <p class="text-center"><strong>Eindhoven naar Helmond</strong></p>
        </div>
        <div class="col">
            <button onclick="FalseAlarm()" type="button" class="btn btn-success ml-5 float-right">FALSE ALARM</button>
        </div>
    </div>

