@page
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    ViewData["Title"] = "Video surveillance";
}

<div class="text-center d-flex justify-content-center">
    <div>
        @if (HttpContext.Session.GetString("Loggedin") == null)
        {            
            <img src="/images/logo.png"/>
            <form method="post">
                <div class="form-group mb-2">
                <input runat="server" id="Username" name="Username" type="text" class="form-control" placeholder="Gebruikersnaam"/>
            </div>
            <div class="form-group mb-2">
                <input runat="server" id="Password" name="Password" type="password" class="form-control" placeholder="Wachtwoord"/>
            </div>
            <button type="submit" class="btn btn-general w-100">Login</button>
            </form>
        } else {
            <h3> Dashboard </h3>
        }
    </div>
</div>
