@page
@using System.Web
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    ViewData["Title"] = "Video surveillance";

}

@if (HttpContext.Session.GetString("Loggedin") == null)
{
    <div class="container">
        <div class="text-center d-flex justify-content-center">
            <div>
                <img src="/images/logo.png"/>
                <form method="post">
                    <div class="form-group mb-2">
                    <input runat="server" id="Username" name="Username" type="text" class="form-control" placeholder="Gebruikersnaam"/>
                </div>
                <div class="form-group mb-2">
                    <input runat="server" id="Password" name="Password" type="password" class="form-control" placeholder="Wachtwoord"/>
                </div>
                <button type="submit" class="btn btn-general w-100">Login</button>
                <div class="alert-danger mt-4" role="alert">@Model.errorHandling.Error()</div>
                </form>
            </div>
        </div>
    </div>
} else {
    <div class="container-dashboard">
        <h2>Dashboard</h2>
        <div>
            <h4>Serverinformatie:</h4>
            <ul>
                @for (int i = 0; i < 5; i++) {
                    <li>
                        server @i
                    </li>
                }
            </ul>
        </div>
        <div class="row">            
            @foreach (var item in Model.Databases)
            {
                <div class="col border rounded p-5 m-2">
                    @*<a asp-page="Index" asp-page-handler="SelectDatabase">@item</a>*@
                </div>
            }
        </div>
    </div>
}