html {
    font-size: 14px;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0 auto;
}

.btn-general {
    background-color: #21735B;
    color: white;
}

.btn-general:hover {
    background-color: #002247;
    color: white;
}