html {
    font-size: 14px;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0 auto;
}

.container-dashboard {
    max-width: 1850px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: auto;
    margin-left: auto;
}

.btn-general {
    background-color: #21735B;
    color: white;
}

.btn-general:hover {
    background-color: #002247;
    color: white;
}