@import "global.css";

.alert-danger {
    border-radius: 5px;
}

.sidenav {
    background-color: white;
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 1px solid;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
}

.sidenav-img {
    width: 100%;
}

.main {
    margin-left: 190px; /* Same as the width of the sidebar */
}

.modal-dialog {
    max-width: 85%!important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px
}
